<div class="container">
  <div class="row header">
    <div class="col-lg-5 col-md-2 col-sm-1">
      <div><span class="name">Web Daze</span></div>
    </div>
    <div class="col-lg-7 col-md-10 col-sm-11">
      <ul>
          <li><a href="#" class="alert-link ">Home</a></li>
          <li><a href="#" class="alert-link ">IT news</a></li>
          <li><a href="#" class="alert-link ">Security</a></li>
          <li><a href="#" class="alert-link ">Networking</a></li>
          <li><a href="#" class="alert-link ">Cloud Computing</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
      <div class="col-12 hr"></div>
  </div>
  <div class="row main">
      <div class="col-lg-7">
        <div class="row main_avtor">
          <div class="col-2 mb-3 mt-3"><img src="../assets/img/aRz_dnNnt1Q.jpg" alt=""></div>
          <div class="col-4">Rufina Gataullina<br> <span class="date">03.02.2020&nbsp;</span> <span class="categories">IT news</span></div>
        </div>
        <div class="row main_img"><img src="../assets/img/pexels-photo-1105666.jpeg" alt=""></div>
        <div class="row main_text">
          <h4>Lorem ipsum</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus aliquet velit, quis congue metus accumsan in. Praesent molestie sollicitudin justo, nec viverra lacus dignissim id. Maecenas neque nisi, suscipit sit amet massa volutpat, vestibulum ultricies turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi finibus, tellus eget scelerisque laoreet, leo lectus eleifend elit, sit amet eleifend turpis massa et mi. Donec aliquet convallis elit, in viverra risus tempus eget.</p>
        <button>Continue reading</button>
        </div>
        <div class="row">
            <div class="col-12 hr"></div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
          <div class="row main_search">
            <input class="search" type="text" placeholder="Search...">
          </div>
          <div class="row main_posts">
            <div class="col-12"><h4>Recent Posts</h4></div>
            <div class="col-12 hr"></div>
            <div class="col-12">
                <ul class="vector">
                    <li><a href="#">Meeting most successful women in tech</a></li>
                    <li><a href="#">Live support key of an endless satisfaction</a></li>
                    <li><a href="#">Weekly meeting in companies Think Room</a></li>
                    <li><a href="#">New managment method which rocks</a></li>
                    <li><a href="#">7 ways to get ready for a business contract</a></li>
                  </ul>
            </div>
          </div>
          <div class="row main_categories">
              <div class="col-12"><h4>Categories</h4></div>
              <div class="col-12 hr"></div>
              <div class="col-12">
                  <ul class="vector">
                    <li><a href="#">Cloud Computing</a></li>
                    <li><a href="#">IT new</a></li>
                    <li><a href="#">Networking</a></li>
                    <li><a href="#">Security</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    2020
  </div>
</div>

